[submodule "vendor/rust"]
	path = vendor/rust
	url = https://github.com/mozilla/rust.git
[submodule "vendor/emscripten"]
	path = vendor/emscripten
	url = https://github.com/kripken/emscripten.git
[submodule "vendor/llvm"]
	path = vendor/llvm
	url = http://llvm.org/git/llvm.git
[submodule "vendor/clang"]
	path = vendor/clang
	url = http://llvm.org/git/clang.git
[submodule "vendor/emscripten-fastcomp"]
	path = vendor/emscripten-fastcomp
	url = https://github.com/kripken/emscripten-fastcomp.git
[submodule "vendor/emscripten-fastcomp-clang"]
	path = vendor/emscripten-fastcomp-clang
	url = https://github.com/kripken/emscripten-fastcomp-clang
