[submodule "vendor/rust"]
	path = vendor/rust
	url = https://github.com/mozilla/rust.git
[submodule "vendor/emscripten"]
	path = vendor/emscripten
	url = https://github.com/kripken/emscripten.git
[submodule "vendor/llvm"]
	path = vendor/llvm
	url = http://llvm.org/git/llvm.git
[submodule "vendor/clang"]
	path = vendor/clang
	url = http://llvm.org/git/clang.git
